{% extends 'base.html' %}

{% block extra_css %} 
	<link rel="stylesheet" type="text/css" href="/static/css/audit/audit.css">
{% endblock %}

{% block content %}

	<!-- table -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">节点名称</th>
                        <th scope="col">节点IP</th>
                        <th scope="col">节点状态</th>
                        <th scope="col">导出</th>
                        <th scope="col">审计</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in page %}
                        <tr>
                            <td>{{ device.id }}</td>
                            <td>{{ device.node_name }}</td>
                            <td>{{ device.node_ip }}</td>
                            <td>{{ device.get_node_status_display }}</td>
                            <td>
                            	<form method="post" action="{% url 'export_configuration' %}" id="export-form">
                                    {% csrf_token %}
                                    <!-- 隐藏的 input 元素 -->
                                    <input id="id-input" name="device_id" type="hidden">
	                				<button type="button" class="btn btn-outline-secondary export-btn" data-id="{{ device.id }}"><i class="fas fa-download"></i></button>
	            				</form>
                            </td>
                            <td>
                                <form method="post" action="{% url 'audit_' %}" id="audit-form">
                            	   <button type="button" class="btn btn-outline-danger audit-btn" data-id="{{ device.id }}"><i class="fas fa-clipboard-check"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 分页栏 -->
    <div style="text-align: center;">
        <div style="display:inline-block;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">上一页</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">上一页</span></li>
                    {% endif %}
                    {% for i in page.paginator.page_range %}
                        {% if page.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">下一页</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


{% endblock %}

{% block extra_js %} 
	<script src="/static/js/audit/audit.js"></script>
{% endblock %}